body{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* #div1, #div2, #div3{
    width:30px;
    height:30px;
    border: 1px solid blue;
    display:inline-block;
} */

#maindiv{
    display:block;
    height:20px;
}
#btn{
    padding:10px;
    background-color: black;
    color:white;
    border-radius:100px;
    border: none;
}